@page "/"
@inject HttpClient Http
@inject NavigationManager NavManager
@inject AuthStateService AuthState
@rendermode InteractiveServer

<div class="login-container">
    <div class="login-card">
        <h3>Увійти в систему</h3>
        
        <input type="text"
               @bind="username"
               placeholder="Ім'я користувача"
               class="form-input" />
        
        <input type="password"
               @bind="password"
               placeholder="Пароль"
               class="form-input" />
        
        <button @onclick="LoginUser" 
                class="login-button">
            Увійти
        </button>
        
        @if (showError)
        {
            <p class="error-message">Невірні дані для входу!</p>
        }
    </div>
</div>

@code {
    private string username = "";
    private string password = "";
    private bool showError = false;

    public async Task LoginUser()
    {
        showError = false;
        
        var loginData = new { name = username, password = password };
        
        try
        {
            var response = await Http.PostAsJsonAsync("api/Users/login", loginData);
            
            if (response.IsSuccessStatusCode)
            {
                // Встановлюємо статус автентифікації
                AuthState.Login();
                
                // Перенаправляємо на головну
                NavManager.NavigateTo("/Home");
            }
            else
            {
                showError = true;
            }
        }
        catch
        {
            showError = true;
        }
    }
}